# Python build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/

# Virtual environment folders
.venv/
venv/
env/

# IDE and editor folders
.vscode/
.idea/

# NinovaArsivci specific files
.last_dir
debug_output/
*.db

#Generate Context
generate_project_context.py
project_context.txt